{% extends 'base.html.twig' %}


{% block body %}
    {% dump(category) %}
{#    {% for article in articles %}
        <p>L'article : <strong>{{ article.title }}</strong> a comme catégorie : <strong>{{ article.category.name }} </strong></p>
    {% endfor %}#}
{% endblock %}
