{% extends 'base.html.twig' %}


{% block body %}
    Les articles de la catégorie {{ category.name }}
    {% for article in articles %}
        <p>L'article : <strong>{{ article.title }}</strong> </p>
            <p>{{ article.content }}</p>
    {% endfor %}
{% endblock %}
